@model PracticaProgramada1GrupoB_BLL.Dtos.ClienteDto;

<div class="modal fade" id="modalDetalleCliente" tabindex="-1" aria-labelledby="modalDetalleClienteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetalleClienteLabel">Detalle del Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="mb-2">
                    <strong>Id:</strong>
                    <span id="detalleId"></span>
                </div>
                <div class="mb-2">
                    <strong>Nombre:</strong>
                    <span id="detalleNombre"></span>
                </div>
                <div class="mb-2">
                    <strong>Apellido:</strong>
                    <span id="detalleApellido"></span>
                </div>
                <div class="mb-2">
                    <strong>Correo Electrónico:</strong>
                    <span id="detalleCorreo"></span>
                </div>
                <div class="mb-2">
                    <strong>Teléfono:</strong>
                    <span id="detalleTelefono"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
