@model PracticaProgramada1GrupoB_BLL.Dtos.ClienteDto;

<div class="modal fade" id="modalEditarCliente" tabindex="-1" aria-labelledby="modalEditarClienteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarClienteLabel">Editar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarCliente" asp-action="ActualizarCliente" method="post">
                    <input type="hidden" asp-for="Id" id="ClienteId" name="Id" />
                    <div class="mb-3">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre" required />
                    </div>
                    <div class="mb-3">
                        <label for="Apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="Apellido" name="Apellido" required />
                    </div>
                    <div class="mb-3">
                        <label for="CorreoElectronico" class="form-label">Correo Electronico</label>
                        <input type="text" class="form-control" id="CorreoElectronico" name="CorreoElectronico" required />
                    </div>
                    <div class="mb-3">
                        <label for="Telefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="Telefono" name="Telefono" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarCliente">Editar Cliente</button>
            </div>
        </div>
    </div>
</div>